/* color pallet 
    #24231E
    #191917
    #3E2718
    #9C7859
*/

html {
    overflow-y: auto;
    background: rgba(156, 120, 89, 0.45);
    opacity: 1;
    background-size: 22em;
    font-family: 'Roboto Mono';
    color: #24231E;
    text-align: center;
}

html:before {
    content: "";
    height: 20px;
    background: url('../images/img-lg-horiz-border.png') repeat-x 0 -2px;
    background-size: 40em;
    display: block;
}

/* header section */
#header {
    font-weight: bold;
}

nav {
    margin: 0;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

/* HTML Section */

/* Table Styling */
table {
    border: 1.5px solid #3E2718;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1.5px solid #3E2718;
    padding: 4px 5px;
}

thead {
    background-color: #3E2718;
    color: #EBE8E7;
}
td{
    font-family: 'M PLUS Code Latin';
}

.description {
    text-align: left;
}

/* Footer Section */
footer {
    background: url('../images/img-lg-horiz-border.png') repeat-x bottom left;
    background-size: 40em;
    margin: 5.5em 1px -1px;
    padding-bottom: 8.5em;
}

@media (min-width:600px) {
    html:before{
        background-size: 50em;
    }
}