/* Color palette 
    --eerie-black: #24231eff;
    --bistre: #3e2718ff;
    --chamoisee: #9c7859ff;
    --cambridge-blue: #72bda3ff;
    --isabelline: #f4f3eeff;
    --dun: #D2C2B4
*/

/* Universal Styles */
body {
    background: #D2C2B4;
    opacity: 1;
    background-size: 22em;
    font-family: 'Roboto Mono';
    color: #24231E;
    text-align: center;
    margin: 0 10%;
}

/* Header Styles */

/* Container Styles */
.container::before {
    content: "";
    height: 20px;
    background: url('../images/img-lg-horiz-border.png') repeat-x 0 -2px;
    background-size: 40em;
    display: block;
}

.container {
    /*border: 1px solid #24231E;*/
    padding: 5px 10px;
    margin: 10px auto;
}

.container-text::after {
    content: "";
    height: 20px;
    background: url('../images/img-lg-horiz-border.png') repeat-x 0 -2px;
    background-size: 40em;
    display: block;
}

.container h2 {
    text-align: left;
}

/* Color Container Styles */
.container-color {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 15%;
    margin: 10px 20px;
    min-height: 100px;
}

.eerie-black {
    background-color: #24231E;
    color: #f4f3ee;
}

.bistre {
    background-color: #3e2718;
    color: #f4f3ee;
}

.chamoisee {
    background-color: #9c7859;
}

.cambridge-blue {
    background-color: #72bda3;
}

.isabelline {
    background-color: #f4f3ee;
}

/* Font Container Styles */
.container-font {
    width: 100%;
}

.font-panel {
    display: inline-block;
    width: 40%;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.regular {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 800;
}

.roboto-mono {
    font-family: 'Roboto Mono';
}

.m-plus-code-latin {
    font-family: 'M PLUS Code Latin';
}
/* Text Container Styles */
.container-text {
    text-align: left;
}

.text-panel h1, .text-h1 {
    font-weight: 800;
    font-size: 26px;
    font-family: 'Roboto Mono';
}

.text-panel h2, .text-h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto Mono';
}

.text-panel p, .text-p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'M PLUS Code Latin';
}

.text-panel ul {
    padding: 0px auto;
    margin-top: 5px;
}